<!-- {% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header text-center">
                    <h4>Payment Details</h4>
                </div>

                <div class="card-body">
                    <p><strong>Total Paid:</strong> ₹{{ payment.total_amount }}</p>

                    <p>
                        <strong>Admin Commission ({{ payment.admin_commission_percent }}%):</strong>
                        ₹{{ payment.admin_amount }}
                    </p>

                    <p>
                        <strong>Freelancer Amount:</strong>
                        ₹{{ payment.freelancer_amount }}
                    </p>

                    <p>
                        <strong>Status:</strong>
                        <span class="badge bg-success">
                            {{ payment.payment_status }}
                        </span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %} -->
